@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}